<div class="container-feedback100">
    <div class="wrap-feedback100">
        <form class="feedback100-form validate-form">
            <span class="feedback100-form-title">
                Feedback Form
            </span>

            <div class="wrap-input100 validate-input bg1" data-validate="Please Type Your Name">
                <!-- <span class="label-input100">FULL NAME *</span> -->
                <input class="input100" type="text" name="name" placeholder="Enter Your Name">
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100 col-lg-12" data-validate = "Enter Your Email (e@a.x)">
                <!-- <span class="label-input100">Email *</span> -->
                <input class="input100" type="text" name="email" placeholder="Enter Your Email ">
            </div>
            
            
             <div class="w-full dis-none js-show-service">
                <div class="wrap-feedback100-form-radio">
                    <span class="label-input100">Feedback Type</span>

                    <div class="feedback100-form-radio m-t-15">
                        <input class="input-radio100" id="radio1" type="radio" name="type-product" value="physical" checked="checked">
                        <label class="label-radio100" for="radio1">
                            Comments
                        </label>
                    </div>

                    <div class="feedback100-form-radio">
                        <input class="input-radio100" id="radio2" type="radio" name="type-product" value="digital">
                        <label class="label-radio100" for="radio2">
                            Bug Reports
                        </label>
                    </div>

                    <div class="feedback100-form-radio">
                        <input class="input-radio100" id="radio3" type="radio" name="type-product" value="service">
                        <label class="label-radio100" for="radio3">
                            Questions
                        </label>
                    </div>
                </div>
            </div>

            <div class="wrap-input100 validate-input bg0 rs1-alert-validate" data-validate = "Please Type Your Message">
                <!-- <span class="label-input100">essage</span> -->
                <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
            </div>
            <!-- <div class="rating-system3">
                    <h3>Give your Respect</h3>
                    <input type="radio" name='rate3' id="star5_3" />
                    <label for="star5_3"></label>
                  
                    <input type="radio" name='rate3' id="star4_3" />
                    <label for="star4_3"></label>
                  
                    <input type="radio" name='rate3' id="star3_3" />
                    <label for="star3_3"></label>
                   
                    <input type="radio" name='rate3' id="star2_3" />
                    <label for="star2_3"></label>
                  
                    <input type="radio" name='rate3' id="star1_3" />
                    <label for="star1_3"></label>
                    
                    <div class="text"></div>
                  </div> -->
            
           
            <div class="button">
                    <button class="btn"><span>Submit</span></button>
                </div>
        </form>
     
    </div>
</div>