<!-- -----**searching-part-starting**------ -->
 <div class=" main offset-lg-2 offset-md-2 offset-sm-1">
<br>
<br>

<section class="search-sec offset-lg-1 offset-md-2 offset-sm-1">

    <div class="nameevents col-lg-12 offset-lg-1">
        <input id="search" type="text" placeholder="Name of Events" style="background-color:black;width:75%; height:40px ;font-size:30px;" >&nbsp;
        <i class=" icon fas fa-search"></i>
    </div>
    <br>
  <div class="container">
      <form action="#" method="post" novalidate="novalidate">
          <div class="row">
              <div class="col-lg-10 offset-lg-1"  >
                  <div class="row">
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" list="hosting-plan" class="form-control search-slt" placeholder="Location"/>
                          <datalist id="hosting-plan">
                            <select>
                              <option value="small">asdasd</option>
                              <option value="medium">
                              <option value="large">
                                </select>
                                
                          </datalist>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <input type="text" list="hosting-plan" class="form-control search-slt" placeholder="Date">
                          <datalist  class="plan">
                              <option value="small">
                              <option value="medium">
                              <option value="large">
                          </datalist>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                          <select class="form-control search-slt" id="exampleFormControlSelect1">
                              <option>Technology</option>
                              <option>Example one</option>
                              <option>Example one</option>
                              <option>Example one</option>
                              <option>Example one</option>
                              <option>Example one</option>
                              <option>Example one</option>
                          </select>
                      </div> 
                      <div class=" button col-lg-3 col-md-3 col-sm-12 p-0">
                          <button type="button" class="btn btn-danger wrn-btn">Search</button>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
</section> 
</div>
          <br>
          <br>
<!-- -----**search-part-ending**----- -->

<!-- ********CARD-1******** -->
<div class=" offset-lg-3 offset-md-2 offset-sm-1">
    <br>
    <br>
<div class="card mb-3" style="max-width: 800px;"id="card-1" >
        <div class=" row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/images/IMG-20190710-WA0020.jpg" class="card-img">
            <h4>Event name</h4>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="profile"> <img src="../../assets/images/images.jpg" width="50px;" height="50px;" style="border-radius: 50px; "> 
                       <span class="offset-lg-0 offset-md-0 offset-sm-1">By:Andrew </span>
                </div>
                <br>
                <!-- ---information:starting--- -->
            <div class=" container row"style="background-color:antiquewhite" id="info">
            <div class="col-auto">
                <h5>Date</h5>
                <p class="content">5th june,1999</p>
            </div>
            <div class="col-auto">
                    <h5>Location</h5>
                    <p class="content">india</p>
                </div>
                <div class="col-auto">
                        <h5>Tickets</h5>
                        <p class="content">26/100</p>
                    </div>
            </div>
            <br>
             <!-- ---information:ending--- -->


            <!--  ---Sponsor:Starting--- -->
            <div class="container justify-content-between" id="sponsor" >
            <h4  class="col-lg-5 col-md-10 col-sm-4 " style=" float: left;">Sponsor by:</h4>
            <div class=" col-lg-4 offset-lg-5 col-md-10 col-sm-12 sponsorclassimg">
            <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
            <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
            <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
            </div>
            </div>
            <br>  
            <!-- ---Sponsor:Ending---  -->


            <!--  ---card-footer-starting -->
            <div class="card-footer justify-content-between">
                <ul>  
                <a class="status" href="#"><i class="fas fa-heart"> </i>&nbsp; 120</a>&nbsp;&nbsp;
                <a class="status"href="#"><i class="fas fa-comments"> </i>&nbsp; 40</a>  
                <h4 class="price" style="float:right">price</h4>
                </ul>
            </div>
            <!-- ---card-footer-ending--- -->


            </div>
          </div>

          <!-- <div class="mt"> <a [routerLink]="['/readmore']" class="btn bg-blue-ui white read">read more</a> </div> -->
         <div class="button">
          <!-- <a  [routerLink]="['/readmore']" >Read More</a> -->
          <div class="mt"><a [routerLink]="['/readmore']" class="btn bg-blue-ui white read">read more</a></div>
          
          </div>
        </div>
        <br>
      </div>
     <br>  
<!-- *******CARD-2******** -->
<div class="card mb-3" style="max-width: 800px;"id="card-1">
    <div class="row no-gutters">
        <div class="col-md-8">
        <div class="card-body">
                <div class="profile"> <img src="../../assets/images/images.jpg" width="50px;" height="50px;" style="border-radius: 50px; "> 
                    <span class="offset-lg-0 offset-md-0 offset-sm-1">By:Andrew </span>
             </div>
             <br>
             <!-- ---information:starting--- -->
         <div class=" container row"style="background-color:antiquewhite" id="info">
         <div class="col-auto">
             <h5>Date</h5>
             <p class="content">5th june,1999</p>
         </div>
         <div class="col-auto">
                 <h5>Location</h5>
                 <p class="content">india</p>
             </div>
             <div class="col-auto">
                     <h5>Tickets</h5>
                     <p class="content">26/100</p>
                 </div>
         </div>
         <br>
          <!-- ---information:ending--- -->


         <!--  ---Sponsor:Starting--- -->
         <div class="container justify-content-between" id="sponsor" >
         <h4  class="col-lg-5 col-md-10 col-sm-4 " style=" float: left;">Sponsor by:</h4>
         <div class=" col-lg-4 offset-lg-5 col-md-10 col-sm-12 sponsorclassimg">
         <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
         <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
         <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
         </div>
         </div>
         <br>  
         <!-- ---Sponsor:Ending---  -->


         <!--  ---card-footer-starting -->
         <div class="card-footer justify-content-between">
             <ul>  
             <a class="status" href="#"><i class="fas fa-heart"> </i>&nbsp; 120</a>&nbsp;&nbsp;
             <a class="status" href="#"><i class="fas fa-comments"> </i>&nbsp; 40</a>  
             <h4 class="price" style="float:right">price</h4>
             </ul>
         </div>
         <!-- ---card-footer-ending--- -->

        </div>
        </div>
        <div class="col-md-4">
            <img src="../../assets/images/IMG-20190710-WA0020.jpg" class="card-img">
            <h4>Event Name</h4>
        </div>
        <!-- <div class="mt" id="mtt"> <a [routerLink]="['/readmore']"  class="btn bg-blue-ui white read">read more</a> </div> -->
        <div class="button">
            <!-- <a  [routerLink]="['/readmore']" >Read More</a> -->
            <div class="mt"><a [routerLink]="['/readmore']" class="btn bg-blue-ui white read">read more</a></div>
            </div>
    </div>
    <br>
</div>
<br>
<!-- ********CARD-3******** -->
<div class="card mb-3" style="max-width: 800px;"id="card-1">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../assets/images/IMG-20190710-WA0020.jpg" class="card-img">
            <h4>Event Name</h4>
          </div>
          <div class="col-md-8">
            <div class="card-body">
                    <div class="profile"> <img src="../../assets/images/images.jpg" width="50px;" height="50px;" style="border-radius: 50px; "> 
                        <span class="offset-lg-0 offset-md-0 offset-sm-1">By:Andrew </span>
                 </div>
                 <br>
                 <!-- ---information:starting--- -->
             <div class=" container row"style="background-color:antiquewhite" id="info">
             <div class="col-auto">
                 <h5>Date</h5>
                 <p class="content">5th june,1999</p>
             </div>
             <div class="col-auto">
                     <h5>Location</h5>
                     <p class="content">india</p>
                 </div>
                 <div class="col-auto">
                         <h5>Tickets</h5>
                         <p class="content">26/100</p>
                     </div>
             </div>
             <br>
              <!-- ---information:ending--- -->
 
 
             <!--  ---Sponsor:Starting--- -->
             <div class="container justify-content-between"id="sponsor" >
             <h4  class="col-lg-5 col-md-10 col-sm-4 " style=" float: left;">Sponsor by:</h4>
             <div class=" col-lg-4 offset-lg-5 col-md-10 col-sm-12 sponsorclassimg">
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             </div>
             </div>
             <br>  
             <!-- ---Sponsor:Ending---  -->
 
 
             <!--  ---card-footer-starting -->
             <div class="card-footer justify-content-between">
                 <ul>  
                 <a class="status" href="#"><i class="fas fa-heart"> </i>&nbsp; 120</a>&nbsp;&nbsp;
                 <a class="status" href="#"><i class="fas fa-comments"> </i>&nbsp; 40</a>  
                 <h4 class="price" style="float:right">price</h4>
                 </ul>
             </div>
             <!-- ---card-footer-ending--- -->
 
 
            </div>
          </div>
          <!-- <div class="mt"> <a [routerLink]="['/readmore']"  class="btn bg-blue-ui white read">read more</a> </div> -->
         <div class="button">
          <!-- <a  [routerLink]="['/readmore']">Read More</a> -->
          <div class="mt"><a [routerLink]="['/readmore']" class="btn bg-blue-ui white read">read more</a></div>
          </div>
        </div>
        <br>
      </div>
  <br>
<!-- ********CARD-4******** -->
<div class="card mb-3" style="max-width: 800px;"id="card-1">
        <div class="row no-gutters">
            <div class="col-md-8">
            <div class="card-body">
                    <div class="profile"> <img src="../../assets/images/images.jpg" width="50px;" height="50px;" style="border-radius: 50px; "> 
                        <span class="offset-lg-0 offset-md-0 offset-sm-1">By:Andrew </span>
                 </div>
                 <br>
                 <!-- ---information:starting--- -->
             <div class=" container row"style="background-color:antiquewhite" id="info">
             <div class="col-auto">
                 <h5>Date</h5>
                 <p class="content">5th june,1999</p>
             </div>
             <div class="col-auto">
                     <h5>Location</h5>
                     <p class="content">india</p>
                 </div>
                 <div class="col-auto">
                         <h5>Tickets</h5>
                         <p class="content">26/100</p>
                     </div>
             </div>
             <br>
              <!-- ---information:ending--- -->
 
 
             <!--  ---Sponsor:Starting--- -->
             <div class="container justify-content-between" id="sponsor" >
             <h4  class="col-lg-5 col-md-10 col-sm-4 " style=" float: left;">Sponsor by:</h4>
             <div class=" col-lg-4 offset-lg-5 col-md-10 col-sm-12 sponsorclassimg">
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             <img src="../../assets/images/images.jpg" width="30px;" height="30px;" style="border-radius: 50px; "> 
             </div>
             </div>
             <br>  
             <!-- ---Sponsor:Ending---  -->
 
 
             <!--  ---card-footer-starting -->
             <div class="card-footer justify-content-between">
                 <ul>  
                 <a class="status" href="#"><i class="fas fa-heart"> </i>&nbsp; 120</a>&nbsp;&nbsp;
                 <a class="status" href="#"><i class="fas fa-comments"> </i>&nbsp; 40</a>  
                 <h4 class="price" style="float:right">price</h4>
                 
                 </ul>
             </div>
             <!-- ---card-footer-ending--- -->
 
 
            </div>
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/IMG-20190710-WA0020.jpg" class="card-img">
                <h4>Event Name</h4>
            </div>
            <!-- <div class="mt" id="mtt"> <a [routerLink]="['/readmore']"  class="btn bg-blue-ui white read">read more</a> </div> -->
           <div class="button">
            <!-- <a  [routerLink]="['/readmore']">Read More</a> -->
            <div class="mt"><a [routerLink]="['/readmore']" class="btn bg-blue-ui white read">read more</a></div>
            </div>
        </div>
        <br>
    </div>
    <br>
  </div>