<br>
<br>
<br>

<div class="container col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
    <div class="col-lg-12 col-md-12 col-sm-12 bg-light" style="border: 1px solid white; height: auto; margin-top:10%; border-radius: 2px;">
        <div class="mx-auto blank" style="height: 300px; width: 90%; margin-top: -10%; position: relative; top:-10%; left: 0%;border-radius: 2px;">
            <img class="img1" src="../../assets/images/10.jpeg" height="300px;" width="100%">
        </div>
        <br>
        <h2>Google Map</h2>
        <p>Google Maps is a web mapping service developed by Google. It offers satellite imagery, aerial photography, street maps, 360° panoramic views of streets (Street View), real-time traffic conditions, and route planning for traveling by foot, car,
            bicycle and air (in beta), or public transportation. Google Maps began as a C++ desktop program at Where 2 Technologies. In October 2004, the company was acquired by Google, which converted it into a web application. After additional acquisitions
            of a geospatial data visualization company and a realtime traffic analyzer, Google Maps was launched in February 2005.[1] The service's front end utilizes JavaScript, XML, and Ajax. Google Maps offers an API that allows maps to be embedded
            on third-party websites,[2] and offers a locator for businesses and other organizations in numerous countries around the world. Google Map Maker allowed users to collaboratively expand and update the service's mapping worldwide but was discontinued
            from March 2017. However, crowdsourced contributions to Google Maps were not discontinued as the company announced those features will be transferred to the Google Local Guides program.[3]</p>
    </div>
</div>