
.social{
    color:#566573  ;
    font-size:30px;
    transition:0.5s;
    float:right;
    padding-right: 30px;
}

.social:hover{
    color:#8E251A;
    font-size: 33px;
}

.social-link{
    font-size: 30px;
    color:#566573  ;
    transition: 0.5s;
    float:right;
    padding-right: 30px;
}

.social-com{
    font-size: 30px;
    color:#566573;
    float:right;
    padding-right: 30px;
}

.social-com:hover{
    font-size:33px; 
    color:gray;
}

.social-link:hover{
    color:#19436F;
    font-size: 33px;
}

.container{
    text-align: center;
}

.head{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 33px;
}

.title{
    font-family:   'Montserrat', sans-serif;
    color:#ffffff  ;
    font-size: 65px;
}

.card{
    border-radius: 17px;
    background-image: #ffffff;
    height: 100%;
}

.card-text{
    font-size: 19px;
    font-family: Poppin;
}

.card-title{
    font-family: Poppin;
}

.line{
    width:100%;
    margin:12px;
    border:1px solid #ffffff;
}


.lin2{
    width:100%;
    border: 0.5px solid #95A5A6;
}

.readmore {
    max-height: 2em;
    overflow: hidden;
    color: rgba(0,0,0,.2);
    transition: all .1s;
}

.readmore::before {
    content:"Read more...";
    font-weight: 450;
    font-size: 19px;
    color: initial;
}

.readmore:hover::before {
    content: "";
}

.readmore:hover {
    color: initial;
    overflow: initial;
    font-family: Poppin;
    text-indent: 10px;
    font-size:19px;
}


@media(max-width: 768px){
    .card-text{
        font-size: 16px;
    }
    .card-title{
        font-size:18px;
    }
    .readmore:hover{
        font-size: 16px;
    }
    .card{
        height: 100%;
    }
    .fas{
        margin-top: 20px;
    }
}

@media(max-width: 576px){
    .card-text{
        font-size: 14px;
    }
    .card-title{
        font-size: 18px;
    }
    .readmore:hover{
        font-size: 14px;
    }
    .card{
        height: 100%;
    }
    .fas{
        margin-top: 15px;
    }
}
 