
<br>
<div class="container">
 <div class = "row">
   <br>
   <br>
    <div class="container col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1">
     <h2 class="head">Forum</h2>
    </div>
     <br>
     <br>
     <br>
       <div class="heading col-lg-8 col-md-10 col-sm-10 offset-lg-2 offset-md-1 offset-sm-1 ">
         <hr class="line">
           <h3 class="title">Question & Answers</h3>
         <hr class="line">
       </div>
 </div>
</div>

          <!-- Question1 -->
            <br>
            <br>
            <br>
               <div class="card col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2  ">
                 <div class="card-body">
                   <h4 class="card-title"> Why I learn Java?</h4>
                     <hr class="lin2">
                       <p class="card-text"> Java is easy to learn. Java was designed to be easy to use and is therefore easy to write, compile, debug, and learn than other programming languages.</p>
                       <div class="readmore"> 
                         <p> Java is object-oriented. This allows you to create modular programs and reusable code.Java is platform-independent. </p>
                         </div>
                            <br>
                            <br>
                            <br>
                         <a class="social-com" href="#">
                           <i class="fas fa-flag"></i>
                         </a>

                         <a class="social" href="#">
                           <i class="fas fa-thumbs-down"></i>
                         </a>

                         <a class="social-link" href="#">
                           <i class="fas fa-thumbs-up"></i>  
                         </a>
                 
                 </div>
               </div>

           <!-- Question2 -->
             <br>
             <br>
               <div class="card col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 " >
                 <div class="card-body">
                   <h4 class="card-title"> Why MongoDB is better?</h4>
                     <hr class="lin2">
                       <p class="card-text"> The ability to derive a document-based data model is one of the most attractive advantages of MongoDB. Because, the way it stores the data in the form of BSON (Binary JSON), ruby hashes etc,</p>
                         <div class="readmore">
                           <p>  helps to store the data in a very rich way while being capable of holding arrays and other documents.</p>
                         </div>
                            <br>
                            <br>
                            <br>
                         <a class="social-com" href="#">
                           <i class="fas fa-flag"></i>
                         </a>
 
                         <a class="social" href="#">
                           <i class="fas fa-thumbs-down"></i>
                         </a>
 
                         <a class="social-link" href="#">
                           <i class="fas fa-thumbs-up"></i>  
                         </a>
                      
                 </div>
               </div>

           <!-- Question3 -->
               <br>
               <br>
                 <div class="card col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 " >
                   <div class="card-body">
                     <h4 class="card-title"> Why NODEjs is better?</h4>
                       <hr class="lin2">
                         <p class="card-text"> The ability to derive a document-based data model is one of the most attractive advantages of MongoDB. Because, the way it stores the data in the form of BSON (Binary JSON), ruby hashes etc,helps to store the data in a very rich way while being capable of holding arrays and other documents helps to store the data in a very rich way while being capable of holding arrays</p>
                           <div class="readmore">
                             <p>  and other documents.Node.js basically a JavaScript runtime integrated language and is usually on the slower side when it comes to comparison with Go, the improved compiled language.</p>
                           </div>
                              <br>
                              <br>
                              <br>
                           <a class="social-com" href="#">
                             <i class="fas fa-flag"></i>
                           </a>
   
                           <a class="social" href="#">
                             <i class="fas fa-thumbs-down"></i>
                           </a>
   
                           <a class="social-link" href="#">
                             <i class="fas fa-thumbs-up"></i>  
                           </a>
                        
                   </div>
                 </div>

         <!-- Question4 -->
                 <br>
                 <br>
                   <div class="card col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 ">
                     <div class="card-body">
                       <h4 class="card-title"> What are the benefits of learning Python?</h4>
                         <hr class="lin2">
                           <p class="card-text"> There are many benefits of learning Python, especially as your first language, which we will discuss.
       
                             It is a language that is remarkably easy to learn, and </p>
                               <div class="readmore"> 
                                 <p> it can be used as a stepping stone into other programming languages and frameworks.</p>
                               </div>
                                 <br>
                                 <br>
                                 <br>
                               <a class="social-com" href="#">
                                 <i class="fas fa-flag"></i>
                               </a>
     
                               <a class="social" href="#">
                                 <i class="fas fa-thumbs-down"></i>
                               </a>
     
                               <a class="social-link" href="#">
                                 <i class="fas fa-thumbs-up"></i>  
                               </a>
                          
                     </div>
                   </div>
                     <br>
                     <br>
