<div class="row" style="border-color:whitesmoke ; margin-right: 0px; ">
    <div class="col-lg-12 col-md-12 col-sm-12">
  <!-- <h5 class="text-center" style="font-size: 25px; font-family: palatino; color: wheat;">User Profile</h5> -->
    </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
    <!-- <h2>intern nexsus</h2> -->
  </div>
  <div class="col-lg-7 col-md-7 col-sm-7" style="border: 1px solid #182C61; background-image: linear-gradient(to left bottom, #0d1d36, #0b1a39, #0c163b, #10123d, #160c3d); margin-top:1%; border-radius: 8px;">
    <div class=col-lg-12 style="border: 1px solid black; text-align: center; margin-top:-10px; border-radius: 8px; background-image: linear-gradient(to bottom, #446eaf, #3d5da3, #394b96, #383a88, #372778);">
      <p style="color: white; font-size:25px; font-family: palatino; display: inline-block; margin-top:2%;">User Profile</p>
      <!-- <p style="color: black; font-size:18px; font-family: palatino;">Complete your profile</p> -->
  </div> 
  <Form >
      <div class="form-row ">
          <div class="form-group col-md-6">
            <label for="inputEmail4" style="color: white; margin-top: 5%; font-size:20px; font-family: palatino; ">User Name</label>
            <!-- <input type="email" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid #ffffff;" id="inputEmail4" placeholder=" Enter your User Name"> -->
            <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
          </div>
          <div class="form-group col-md-6" style="margin-top: 2.2%;">
              <label for="inputPassword4" style="color: white; font-size:20px; font-family: palatino;">Email Address</label>
              <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4" style="color:white; font-size:20px; font-family: palatino;">First Name</label>
                <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
              </div>
              <div class="form-group col-md-6" style="margin-top: 0%;">
                  <label for="inputPassword4" style="color: white; font-size:20px; font-family: palatino;">Second Name</label>
                  <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Phone Number</label>
                    <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputAddress2" style="color: white; font-size:20px; font-family: palatino;">Birthday</label>
                      <input type="date" class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress" style="color: white; font-size:20px;">University</label>
                        <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                      </div>
                      <div class="form-group col-md-12">
                          <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">College Name</label>
                          <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Preferred field for Internship</label>
                            <!-- <span class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4"></span> -->
                            <select class="form-control" style="color: black;">
                              <option>Field 1</option>
                              <option>Field 2</option>
                              <option>Field 3</option>
                              <option>Field 4</option>
                              </select>
                          </div>
                          <div class="form-group col-md-6">
                                <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Location 1</label>
                                <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Location 2</label>
                                  <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress" style="color: white; font-size:20px;font-family: palatino;">Location 3</label>
                                    <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputAddress" style="color: white; font-size:20px;font-family: palatino;">Location 4</label>
                                    <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                  </div>
                                  <div class="form-group col-md-6">
                                      <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Course</label>
                                      <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputAddress" style="color: white; font-size:20px;font-family: palatino;">Stream</label>
                                        <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                      </div>
                                      <div class="form-group col-md-6">
                                          <label for="inputAddress" style="color:white; font-size:20px;font-family: palatino;">Number Of Backlogs:</label>
                                          <select class="form-control" style="color: black;">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>4</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">Year Gap::</label>
                                            <select class="form-control" style="color: black;">
                                              <option>1</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                              </select>
                                          </div>
                                          <div class="form-group col-md-6">
                                              <label for="inputAddress" style="color: white; font-size:20px; font-family: palatino;">state</label>
                                              <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputAddress" style="color:white; font-size:20px; font-family: palatino;">City</label>
                                                <input class="form-control" style="border: none; outline: none; background: transparent; border: none; border-bottom: 1px solid black;" id="inputEmail4">
                                              </div>
                                              <div class="form-group col-md-12 text-center">
                                                  <input class="btn btn-primary" type="Update" style="background-color: #636161; cursor: pointer;"  value="Submit"/> 
                                                  <!-- <a href="http://localhost:3000/" style="background-color:black; font-size: 20px; background-color :#636161 ;font-family: palatino;"class="btn btn-primary btn-round">Update Profile</a> -->
                                              </div>
                                              
                 </div>
  
  </Form>
  </div>
  <div class="col-lg-3 col-md-3 col-md-3 text-center">
    <div class="col-md-12">
      <div class="card card-profile" style="background-image: linear-gradient(to right top, #ecf0e7, #e5f0e9, #e0efed, #deeef1, #e0ebf4, #d0d5df, #c1c0ca, #b1acb4, #888287, #615b5e, #3b3738, #181616); border-radius: 8px;">
        <div class="card-avatar">
  
          <a href="#pablo">
            <img class="img" src="../../assets/images/shil.jpg">
          </a>
       
        </div>
        <div class="card-body">
          <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          <h4 class="card-title">Alec Thompson</h4>
          <p class="card-description">
            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          </p>
          <!-- <a href="http://localhost:3000/" style="background-color:#00c9b7; font-size: 18px; font-family: palatino;"class="btn btn-primary btn-round">Update Profile</a> -->
        </div>
      </div>
    </div>
    </div>
    
  
  
  </div>
  
     
  
      
  
  
  
