<div class="col-lg-12 col-md-12 col-sm-12" style="color:white; font-size: 2.2rem; margin-left: 0%;  font-family: 'Poppins', sans-serif; ">
    <p style="text-align: center;">Mean Stack development</p>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-5 col-md-12 col-sm-12 " style="float: left;">
                <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: outset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white;">
                    <img class="img" src="../../assets/images/mean/WhatsApp Image 2019-07-24 at 14.26.59.jpeg" style="border-radius: 50%; margin: 13px;" width="230px;" height="230px;">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 " style="float: left;">
                <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px    white;">
                    <img class="img" src="../../assets/images/mean/WhatsApp Image 2019-07-24 at 14.26.58.jpeg " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px; ">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 " style="float:left;">
                <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white; ">
                    <img class="img" src="../../assets/images/mean/WhatsApp Image 2019-07-24 at 14.26.59(1).jpeg " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px;">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 " style="float:left;">
                <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white; ">
                    <img class="img" src="../../assets/images/mean/WhatsApp Image 2019-07-24 at 16.29.49.jpeg " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px;">
                </div>
            </div>
        </div>
    </div>
</div>