<!-- starting -->
<!-- profile -->

<div class="wrapper" style="font-family: 'Montserrat', sans-serif;">
    <div class="sidebar-wrapper">
        <div class="profile-container text-center">
            <img src="../../assets/images/images.jpg" class="profilebackground">
            <h3 class="name">USER NAME</h3>
            <p>OFFICE MANAGER</p>
        </div>
        <!-- profile-end -->
        <br>
        <br>
        <!-- get in touch-starting -->
        <div class="container" id="contact">
            <div class="row">
                <div class="minibox-icon col-lg-2 col-md-2 col-sm-2 " style="height=20px; border:1px solid darkcyan">
                    <i class=" fas fa-envelope" id="icon"></i>
                </div>
                <div class="minibox-email col-lg-10 col-md-10 col-sm-10 " style="height=20px; border:1px solid darkcyan">
                    <p>username@gamil.com</p>
                </div>
            </div>
        </div>

        <div class="container" id="contact">
            <div class="row">
                <div class="minibox-icon col-lg-2 col-md-2 col-sm-2 " style="height=20px; border:1px solid darkcyan">
                    <i class=" fab fa-github" id="icon"></i>
                </div>
                <div class="minibox-github col-lg-10 col-md-10 col-sm-10 " style="height=20px; border:1px solid darkcyan">
                    <p> github.com/username</p>
                </div>
            </div>
        </div>

        <div class="container" id="contact">
            <div class="row">
                <div class="minibox-icon col-lg-2 col-md-2 col-sm-2 " style="height=20px; border:1px solid darkcyan">
                    <i class="fab fa-linkedin" id="icon"></i>
                </div>
                <div class="minibox-linkedin col-lg-10 col-md-10 col-sm-10 " style="height=20px; border:1px solid darkcyan">
                    <p>linkedin.com</p>
                </div>
            </div>
        </div>
        <div class="container" id="contact">
            <div class="row">
                <div class="minibox-icon col-lg-2 col-md-2 col-sm-2 " style="height=20px; border:1px solid darkcyan">
                    <i class="fas fa-phone-volume" id="icon"></i>
                </div>
                <div class="minibox-phone col-lg-10 col-md-10 col-sm-10 " style="height=20px; border:1px solid darkcyan">
                    <p>0123 456 789</p>
                </div>
            </div>
        </div>
        <!-- get-in-touch-ending -->
        <br>
        <br>
        <!-- personal-information-starting -->

        <div class="container-fluid text-center" style="border:1px solid  darkcyan;">
            <div class="container" id="personal-information">
                <h6>PERSONAL INFORMATION</h6>
            </div>
            <div class="container" id="info-1">
                <h6 class="subhead">Father's Name:</h6>
                <p class="subhead-2">Ram Kumar</p>
            </div>
            <div class="container" id="info-2">
                <h6 class="subhead"> Date of Birth:</h6>
                <p class="subhead-2">dd/mm/yy</p>
            </div>
            <div class="container" id="info-3">
                <h6 class="subhead">Nationality:</h6>
                <p class="subhead-2">Indian</p>
            </div>
            <div class="container" id="info-4">
                <h6 class="subhead">Gender:</h6>
                <p class="subhead-2">Female</p>
            </div>
            <div class="container" id="info-5">
                <h6 class="subhead">Languages:</h6>
                <p class="subhead-2">English & Hindi</p>
            </div>
        </div>
        <!-- personal-information-ending -->
    </div>


    <!-- right-side-body -->

    <br>

    <h3 class=" jumbotron tagline">"This above all:to thine own self be true"</h3>

    <div class="main-wrapper">
        <div class="container-fluid" id="box1">
            <div class="container" id="firstbox">
                <h5>CAREER OBJECTIVE & SKILLS <i class=" fas fa-book-reader" style="float:right;" id="icon2"></i></h5>

            </div>
            <br>
            <div class="container" id="subtext">
                <p class="subtext-1"></p>
                <p class="txt1">
                    To be associated with your progressive organization with a dynamic work sphere in the order to extract my inherent skill as a professional.to futhr the organization's objective and also attain my career target in progress.</p>
                <ul class="text2">
                    <li>Strong Communication Skills</li>
                    <li>Leadership-Has Been Headgirl at School</li>
                    <li>Co-opearte</li>
                    <li>Strong Communication Skills</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid" id="box1">
            <div class="container" id="firstbox">
                <h5>ACADEMIC BACKGROUND<i class="fas fa-user-graduate" style="float:right;" id="icon2"></i></h5>
            </div>
            <div class="container" id="subtext">
                <p class="subtext-1"></p>
                <h4 class="t1">SECONDARY & SR. SECONDARY</h4>
                <H6 class="t2">Guru Harkrishan public school</H6>
                <h6 class="t3"> CBSE</h6>
                <h6 class="t4">2014</h6>
                <h6 class=t5>Sr.Secondary-96%</h6>
                <br>
                <h6 class="t4">2012</h6>
                <h6 class=t5>Secondary-98%</h6>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid" id="box1">
            <div class="container" id="firstbox">
                <h5>WORK EXPERIENCE<i class="fas fa-envelope-open-text" style="float:right;" id="icon2"></i></h5>
            </div>
            <div class="container" id="subtext">
                <p class="subtext-1"></p>
                <h6 class="e1">CYBERNAUT TECT</h6>
                <h6 class="e2">Web development as Intern</h6>
                <h6 class="e3">june2019-july2019</h6>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid" id="box1">
            <div class="container" id="firstbox">
                <h5>ACHIEVEMENTS<i class="fas fa-award" style="float:right;" id="icon2"></i></h5>
            </div>
            <br>
            <div class="container" id="subtext">
                <p class="subtext-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, officia d</p>
            </div>
        </div>
    </div>
</div>