<div class=" project col-lg-12 col-md-12 col-sm-12">
    <div style="color:white; font-size: 2.2rem; margin-left: 30%; font-family: 'Poppins', sans-serif;">
        <p>Project-List</p>
    </div><br>

    <div class="jumbotron">
        <h1 class="display-5">Basic</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <div class="card col-lg-12 col-md-12 col-sm-12" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">Project-title</h5>
                <h6 class="card-subtitle mb-2 text-muted">technoligy-name</h6>
                <p class="card-text">project-details</p>
                <a href="https://www.google.com/" class="card-link">project-link</a>
            </div>
        </div>
        <br>
        <br>
        <a class="btn btn-primary btn-lg " href="#" role="button">Upload</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
    </div>
    <br> <br>

    <div class="jumbotron">
        <h1 class="display-5">Intermediate</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <div class="card col-lg-12 col-md-12 col-sm-12" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">Project-title</h5>
                <h6 class="card-subtitle mb-2 text-muted">technoligy-name</h6>
                <p class="card-text">project-details</p>
                <a href="https://www.google.com/" class="card-link">project-link</a>
            </div>
        </div>
        <br>
        <br>
        <a class="btn btn-primary btn-lg " href="#" role="button">Upload</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
    </div>
    <br> <br>

    <div class="jumbotron">
        <h1 class="display-5">Advanced</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <div class="card col-lg-12 col-md-12 col-sm-12" style="width: 14rem;">
            <div class="card-body">
                <h5 class="card-title">Project-title</h5>
                <h6 class="card-subtitle mb-2 text-muted">technoligy-name</h6>
                <p class="card-text">project-details</p>
                <a href="https://www.google.com/" class="card-link">project-link</a>
            </div>
        </div>
        <br>
        <br>
        <a class="btn btn-primary btn-lg " href="#" role="button">Upload</a> &nbsp;
        <a class="btn btn-primary btn-lg" href="#" role="button">Delete</a>
    </div>