<!-- <nav class="navbar navbar-light bg-light col-lg-10 offset-lg-2 bg-dark" style="background-color: #2a3a4b;">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 1150px;">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit" style="border-radius: 50px;">Search</button>
    </form>
</nav> -->
<!-- //////////////////////////////////////Card Dashboard /////////////////////////////////////////////////// -->
<div style="color:white; font-size: 2.2rem; margin-left: 0%; font-family: 'Poppins', sans-serif;">
    <p style="text-align: center;">Dashboard</p>
</div>
<br>
<br>
<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4" style="float: left;">
            <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: outset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white;">
                <img class="img" src="../../assets/images/mean-stack-banner.jpg" style="border-radius: 50%; margin: 13px;" width="230px;" height="230px;">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-lg-4" style="float: left;">
            <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px    white;">
                <img class="img" src="../../assets/images/Java.png " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px; ">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="col-lg-4" style="float: left;">
            <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white; ">
                <img class="img" src="../../assets/images/phtyon.jpg " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px;">
            </div>
        </div>
    </div>
</div>
<br>
<br> -->

<!-- /*/*/*/*/*/*/*/*/*/*/**/*/*/*/*/*/*/*/*/*/**/*/*/*/* -->
<div class="container">
    <section class="main">

        <ul class="ch-grid">
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                            <h3>Mean Stack</h3>
                            <p>Mongo, Express, Angular, Node <a [routerLink]="['/mean']">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-2"></div>
                        <div class="ch-info-back">
                            <h3>Java</h3>
                            <p>Core Java, Advance Java<a href="#">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="ch-item">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-3"></div>
                        <div class="ch-info-back">
                            <h3>Python</h3>
                            <p>Using Flask and Django<a href="#">GO</a></p>
                        </div>
                    </div>
                </div>
            </li>

        </ul>

    </section>

</div>