



<!-- ////////////////////////////// TOP BAR /////////////////////////////////////////// -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent col-lg-11 offset-lg-2">

        <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#" style="color:white">HOME </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"style="color:white">VENUE</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#"style="color:white">TICKETS</a>
                      </li>
                </ul>
    </nav>










<section id="about">
                    <div class="container">
                        <div class="row">
                            <div class=" col-lg-11 offset-lg-1 col-md-10 offset-md-1 col-sm-12 offset-sm-1" style="background-color: coral;">
                                    <h2 class="heading col-lg-12" style="background-color: burlywood;">About the Conference</h2>
                                    <p>Eam te natum ubique eripuit, impedit nusquam ut mea. Postea legendos ex cum. Referrentur
                                        concludaturque id vis, vel sonet nostro ei. Sit ex amet partiendo deseruisse, atqui
                                        corpora
                                        oportere ex vis, feugait tibique electram mel cu.</p>
        
                                    <p>Mei verterem perfecto adipiscing in, ex dicit eruditi vim, nibh sanctus fabulas nam ne.
                                        Quo ad
                                        diam probo ancillae, ex dicunt fabulas quo. No legere omittam nam, eam quot noster ei,
                                        eum ei
                                        odio
                                        dictas deleniti. Duo torquatos pertinacia ne. An natum postea eligendi eum, dicant
                                        legendos
                                        instructior
                                        mel ei.</p>
                                        <p>Mei verterem perfecto adipiscing in, ex dicit eruditi vim, nibh sanctus fabulas nam ne.
                                            Quo ad
                                            diam probo ancillae, ex dicunt fabulas quo. No legere omittam nam, eam quot noster ei,
                                            eum ei
                                            odio
                                            dictas deleniti. Duo torquatos pertinacia ne. An natum postea eligendi eum, dicant
                                            legendos
                                            instructior
                                            mel ei.</p>
                            </div> 
        

                            <div class="card-container col-lg-8 offset-lg-2" style=" margin-top:50px;">
                                <div class="card col-lg-4 offset-lg-1" style="width: 18rem; float:left; ">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                            
                                  <div class="card col-lg-4 offset-lg-2" style="width: 18rem; float:left;">
                                    <img src="..." class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                                </div>
                        </div>
                    </div>
</section>
<br>
<br>
<br>
<!-- workshop -->
<div class="card-workshop  bg-white col-lg-8 offset-lg-2" style="height: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
<!-- speaker -->
  <div class="card-speaker offset-lg-1 col-lg-10 " style="background-color: cornflowerblue; height: 350px" >
    <div class="card col-lg-3 offset-lg-1 " style="float:left;">
       <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
               <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
    </div>

    <div class="card col-lg-3 offset-lg-1 " style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-lg-3 offset-lg-1" style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>


<br>
<br>
<!-- sponser -->
  <div class="card-sponser offset-lg-1 col-lg-10 "style="background-color:darkcyan; height:350px" >
    <div class="card col-lg-3 offset-lg-1 " style="float:left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-lg-3 offset-lg-1 " style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-lg-3 offset-lg-1" style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

<br>
<br>

  <!-- schedule -->
 
<div class="container"style="background-color:aqua">
    <button type="button" class="btn btn-outline-primary" href="#">5th june2019</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/table1']">5th june2019</button>
    <div class="container" id="box-1" style="background-color: grey">

    </div>
  <table class="table table-striped table-borderless bg-white">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  </div>


<br>
<br>


  <!-- tickets -->


  <div class="card-tickets offset-lg-1 col-lg-10 "style="background-color:brown; height:350px" >
    <div class="card col-lg-3 offset-lg-1 " style="float:left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-lg-3 offset-lg-1 " style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-lg-3 offset-lg-1" style="float: left;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <br>
  <br>